/* media query */

@media only screen and (max-width: 768px) {
    .mobile__vflex{
        flex-direction: column;
        justify-content: flex-start;
    }
    /* header */
    .header{
        position: unset;
    }
    .header__logo-content{
        font-size: 7vw;
    }
    /*Header nav */
    .header__nav-item{
        margin: 1px;
        font-size: 4vw;
    }

    /* banner */
    .banner__text-container{
        top: 10px;
    }
    .banner__text{

        font-size: 3.5vw;
    }

    /* main */
    .mn__title{
        font-size: 5vw;
        text-align: center;
    }
    .desc__heading{
        font-size: 7vw;
    }

    .desc__text{
        font-size: 5.5vw;
    }


    /* Tracks */
    .tracks__heading{
        font-size: 7vw;
    }

    .tracks__desc{
        font-size: 5vw;
    }

    /* Single Track */
    .track-container{
        height: auto;
    }
    .track__title{
        font-size: 7vw;
    }
    .track__desc{
        text-align: center;
    }

    /* gallery */
    .gallery{
        display: block;
        width: 100%;
        margin: 0;
    }

    .gallery__img{
        width: 100%;

        margin: 5vw auto ;
    }

    /* Event */
    .event{
        border: 1px solid black;
    }
    .event__date{
        width:auto;
        margin:2px  10px;
    }

    .event__title{
        margin:2px  10px;
        text-align: left;
    }

    .event__location{
        margin:2px 10px;
        width: auto;
        text-align: left;
    }
/* Form */
    fieldset{
        width: 100%;
        padding: 0;
    }
    input[type=text],input[type=email], textarea, select, button{
        width: 100%;
    }

/* footer */

    .ft__details {
        width: 100%;
        flex-direction: column;
        text-align: center;
        font-size: 4vw;
    }
    .credits{
        width: 100%;
    }
}
