*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Reem Kufi', sans-serif;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.disclaimer{
    background-color: black;
    text-align: center;
    color: white;
}

/* header */
.header{
    background-color: #ec0000;
    position: sticky;
    z-index: 1;
    top: 0;

}

.header__logo{
    font-family: 'Julius Sans One';
    color: white;
    font-weight: 100;
    padding: 10px 0;

}

.header__logo-content{
    text-decoration: none;
    margin: 20px;
    font-weight: 100;
    font-size: 2.5rem;
    letter-spacing: 6px;
}

.header__logo-content:link, .header__logo-content:visited{
    color: black;
    font-weight: 100;
}

/*Header nav */
.header__nav-container{
    list-style: none;
}

.header__nav-item{
    margin: 20px;
}

.header__nav-link{
    text-decoration: none;

}

.header__nav-link:link, .header__nav-link:visited{
    color: black;
}

/* Banner */
.banner{
    position: relative;
    top: 0;
}

.banner__img{
    width: 100%;
}

.banner__text{
    position: absolute;
    top: 25%;
    left: 20%;
    margin: auto;
    padding: 10px;
    background-color: #ec0000;
    color:black;
    font-size: xx-large;
    box-shadow:
    2px 2px 5px rgb(72, 72, 72),
    -2px -2px 5px rgb(72, 72, 72),
    2px -2px 5px rgb(72, 72, 72),
    -2px 2px 5px rgb(72, 72, 72);
}

/* Main Content */
.mn{
    width: 80%;
    margin: 10px auto;
    padding: 10px;
}

/* Description */
.desc__heading, .desc__text{
    text-align: center;
    margin: 10px;
    font-size: 1.5rem;
}

.desc__heading{
    font-size: 2rem;
}

/* Tracks */
.tracks{
    margin: 10px;

}

.tracks__heading{
    font-size: 2rem;
    text-align: center;
    margin: 30px;
}
.tracks__container{
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

.tracks__desc{
    text-align: center;
    margin: 10px;
    font-size: 1.5rem;
}
/* Singe Track */

.track-container{
    width: 300px;
    height: 500px;
    transition: width 0.25s;
    margin: 10px;
}
.track__link{
    text-decoration: none;

}
.track__link:link, .track__link:visited{
    color: black;
}
.track-container:hover{
    width: 310px;
}
.track__img{
    width: 100%;
}
.track__title{
    font-size: 1.3rem;
    text-align: center;
}
.track__desc{
    text-align: justify;
}


/* Footer Content */
.ft{

}
